<%
DIR=File.expand_path(File.dirname(__FILE__))
resources = YAMLResource.from_path("#{DIR}/resources")
-%>
Transform: AWS::Serverless-2016-10-31
AWSTemplateFormatVersion: '2010-09-09'
Description: Rubymotion Toolbox GraphQL schema for AWS AppSync
Resources:
  <%= resources.resource.to_yaml.gsub("---\n", "").gsub("\n", "\n  ") %>
Outputs:
  <%= resources.outputs.to_yaml.gsub("---\n", "").gsub("\n", "\n  ") %>


